.card_container {
  width: 100%;
  padding: 25px;
}

.card_container img {
  width: 80px;
}

.card_container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.card_content {
  width: 320px;
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.152);
}

.card_content:hover {
  transform: scale(1.05);
}

.tech_bg_color {
  background-color: rgba(255, 221, 0, 0.15);
  padding-bottom: 20px;
}

.tech_bg_color h1 {
  padding-top: 50px;
  font-size: 35px;
}

@media screen and (max-width: 768px) {
  .card_container {
    display: flex;
    justify-content: center;
  }
}
