._title {
  margin-bottom: 24px;
  font-size: 42px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000;
}
._desc {
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  color: gray;
}


/* ANIMATION -------> */
.border_animation{
    width: 100px;
    height:4px;
    border-radius: 15px;
    background: #0F9D58;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.border_animation::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 5px;
    background: white;
    animation: move 1.5s linear infinite alternate;
}

@keyframes move{
    from{
        left: 0px;
    }
    to{
        left: 95px;
    }
}
